/* Scaffolding and Basic CSS */
/* ======================== */

body { padding-top:40px;}

.alignright { text-align:right; }
.alignleft { text-align:left; }
.aligncenter { text-align:center; }
.alignjustify { text-align:justify; }

.rot { display:block; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

p small {
  font-size: 13px !important;
  color: #404040 !important;
  text-transform: uppercase !important;
}

.lead {
  margin-bottom: 0px !important;
  font-size: 16px !important;
  font-weight: 200 !important;
  line-height: 26.5px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal!important;
}
.muted {
  opacity:0.4 !important;
  filter:alpha(opacity=40) !important; /* For IE8 and earlier */
}

.picture>img {
  border: 1px solid #33CCCC !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  margin-right: 20px !important;
}

blockquote p.bio {
  font-size:14px !important;
}

code {
  color: #404040 !important;
}
.disabled {
  color: #808080;
}

/*[class^="icon-"] {
  width: 16px;
  height: 16px;
  background-image: url(../olresponsive/img/glyphicons-halflings.png) !important;
  background-position: 16px 16px;
}

.icon-white {
  background-image: url(../olresponsive/img/glyphicons-halflings-white.png) !important;
}*/
a.thumbnail:hover {
  border-color: #33cccc !important;
}
.progress .bar {
  background-color: #33CCCC !important;
  background-image: -moz-linear-gradient(top, #33CCCC, #33CCCC) !important;
  background-image: -ms-linear-gradient(top, #33CCCC, #33CCCC) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33CCCC), to(#33CCCC)) !important;
  background-image: -webkit-linear-gradient(top, #33CCCC, #33CCCC) !important;
  background-image: -o-linear-gradient(top, #33CCCC, #33CCCC) !important;
  background-image: linear-gradient(top, #33CCCC, #33CCCC) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CCCC', endColorstr='#33CCCC', GradientType=0);
}
.lectures {
  overflow-y:scroll;
  height:150px;
}
.errata {
  height:80px;
  overflow-y:scroll;
  margin-bottom:0px !important;
  padding-top:5px !important;
}
.video {
  position:relative;
  height:0;
}
.video>embed, .video>object, .video>div {
  position:absolute !important;
}
.cbar-none {
  padding-bottom:56.25%;
}
.cbar-bottom {
  padding-bottom:62%;
}
/* ======================== */

/* Column Widths */
/* ======================== */

.spanvideo {
  width: 720px;
}
.spanpic {
  width:100px;
}
.spanbio {
  width: 620px;
}
/* ======================== */

/* Navigation */
/* ======================== */

.navbar {
  margin-bottom:0px;
}

.navbar-fixed-top {
  z-index: 1230 !important;
}
.navbar .nav > li > a {
  text-shadow: 0 -1px 0 transparent !important;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #248f8f !important;
}
.navbar-inner {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0px 0 rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0px 0 rgba(0, 0, 0, 0.1) !important;
}
.btn-navbar {
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.075) !important;
  -moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.075) !important;
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.075) !important;
}
.btn-wide {
  width:90%; 
  margin:10px 0 0;}
/* ======================== */

/* Forms and Tables */
/* ======================== */


body .gform_wrapper .gform_body .gform_fields .gfield input, 
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
  font-family: "cmunbmr", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  /*width: 290px !important;*/
  margin: 0 !important;
  font-size: 100% !important;
  vertical-align: middle !important;
}

input, 
textarea,
select,
.uneditable-input {
  width: 290px !important;
  height: auto !important;
}
body .gform_wrapper .gform_body .gform_fields .gfield input {
  *overflow: visible;
  line-height: normal;
}

body .gform_wrapper .gform_body .gform_fields .gfield textarea {
  overflow: auto;
  vertical-align: top;
}

body .gform_wrapper .gform_footer input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  width: auto;
  height: auto;
}

button.btn::-moz-focus-inner, 
input[type="submit"].btn::-moz-focus-inner, 
body .gform_wrapper .gform_footer input[type=submit].button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body .gform_wrapper .gform_footer input[type=submit].button {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

.label {
  text-transform: uppercase;
}

/* ======================== */

/* Branding and OL Style */
/* ======================== */

@font-face { 
	font-family: 'geosans_light'; 
	src: url('/wp-content/themes/olresponsive/font/geosans_light.eot'); 
	src: url('/wp-content/themes/olresponsive/font/geosans_light.eot?#iefix') format('embedded-opentype'), 
	url('/wp-content/themes/olresponsive/font/geosans_light.woff') format('woff'), 
	url('/wp-content/themes/olresponsive/font/geosans_light.ttf') format('truetype'), 
	url('/wp-content/themes/olresponsive/font/geosans_light.svg#webfont') format('svg'); 
}

@font-face { 
	font-family: 'cmunbmr'; 
	src: url('/wp-content/themes/olresponsive/font/cmunbmr.eot'); 
	src: url('/wp-content/themes/olresponsive/font/cmunbmr.eot?#iefix') format('embedded-opentype'), 
	url('/wp-content/themes/olresponsive/font/cmunbmr.woff') format('woff'), 
	url('/wp-content/themes/olresponsive/font/cmunbmr.ttf') format('truetype'), 
	url('/wp-content/themes/olresponsive/font/cmunbmr.svg#webfont') format('svg'); 
}

.openlectures {	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.subheader { color: #33CCCC; }

/* ======================== */

/* Twitter Announcement Bar */
/* ======================== */

.tweet {
  text-align: center;
  background-color:#33CCCC;
  padding:5px 10px;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  margin-left: 630px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .tweet {display:none;}
}

@media (max-width: 767px) {
  .tweet {display:none;}
}

/* ======================== */

/* Category Page Subnav */
/* ======================== */

.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom:20px;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

/* Media Queries for Subnav */

@media (max-width: 768px) {
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }
}
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }

}

/* ======================== 